/* HEADER */
.simple-header-bg{
    background: blue;
    width: 100%;
    height: 100%;
}
.clip-ellipse {
  position: relative;
  clip-path: ellipse(60% 78% at center 200px);
  -webkit-clip-path: ellipse(60% 78% at center 200px);
  transition: 1s clip-path ease;
}
@media (max-width: 1200px) {
  .clip-ellipse {
    clip-path: ellipse(100% 78% at center 200px);
    -webkit-clip-path: ellipse(100% 78% at center 200px);
  }
}