/* MAIN COMPONENTS */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #6bb1c2;
}
p {
  font-size: 1rem;
}
h1 {
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
  margin: 80px auto;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
h3 {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 500;
}
section {
  width: 100%;
}

#mysphera-button {
  width: 200px;
  margin: 2rem 0 3rem 0;
}

.ms-button {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  box-shadow: none;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 1.1;
  transition: 3s box-shadow ease;
}

.ms-button svg {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  z-index: 1;
}

.ms-button path {
  stroke-width: 0.4rem;
  stroke: #6bb1c2;
  fill: transparent;
  stroke-dasharray: 0 0 380 20;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: 2s fill;
  /* -webkit-transition: -webkit-transform 1s linear;
  -moz-transition: -moz-transform 1s linear;
  transition: transform 1s linear; */
}
.button-hover {
  box-shadow: 10px 10px 30px 1px #243c422a;
}
.ms-button:hover {
  cursor: pointer;
}
.button-text {
  z-index: 100;
  transition: 2s all ease;
}
.button-active {
  color: white !important;
}
.button-animated {
  fill: #6bb1c2 !important;
  animation: dash 1s cubic-bezier(0.45, 0.03, 0.51, 0.95) 3s;
  -webkit-animation: dash 1s cubic-bezier(0.45, 0.03, 0.51, 0.95) 0s;
  -moz-animation: dash 1s cubic-bezier(0.45, 0.03, 0.51, 0.95) 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes dash {
  to {
    stroke: #6bb1c2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dashoffset: 800;
    stroke-dasharray: 780 20 0 0;
  }
}
@keyframes dash {
  to {
    stroke: #6bb1c2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dashoffset: 800;
    stroke-dasharray: 780 20 0 0;
  }
}
@-moz-keyframes dash {
  to {
    stroke: #6bb1c2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dashoffset: 800;
    stroke-dasharray: 780 20 0 0;
  }
}
/**/

.clip-circle {
  position: relative;
  clip-path: ellipse(60% 78% at center 200px);
  -webkit-clip-path: ellipse(60% 78% at center 200px);
  transition: 1s clip-path ease;
}
@media (max-width: 1200px) {
  .clip-circle {
    clip-path: ellipse(100% 78% at center 200px);
    -webkit-clip-path: ellipse(100% 78% at center 200px);
  }
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
}
.grid-container {
  display: grid;
  width: 100%;
  grid-gap: 2rem 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-template-rows: auto;
  background-color: #fff;
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 550px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
.grid-content {
  /* Some content here */
}
#main-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  min-height: 1200px;
  overflow: hidden;
}
#load-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100000;
  transition: 3s all cubic-bezier(0.215, 0.61, 0.355, 1);
}
#load-overlay.is-active {
  background: #6bb1c2;
}
body.overlay-active {
  overflow: hidden;
}
/* HEADER */
#header {
  align-items: center;
  width: 70%;
  position: absolute;
  z-index: 1000;
  margin-top: 50px;
  max-width: 1200px;
  justify-content: space-between;
}
/* HOME */
.flex-home {
  width: 100%;
  min-height: 920px;
  justify-content: center;
  align-items: flex-start;
}
#home-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #208ca7;
  mix-blend-mode: overlay;
  z-index: 100;
  opacity: 1;
}
#home-background {
  width: 120%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/img/Home_background.jpg");
}
.home-header {
  z-index: 101;
  position: absolute;
  max-width: 1200px;
  top: 20%;
  width: 70%;
}
.home-header h1,
.home-header h3 {
  margin-left: 0;
  margin-top: 0;
}
.home-header h1,
.home-header h2,
.home-header h3,
.home-header h4,
.home-header p,
.home-header span {
  color: white;
  text-align: left;
}
.home-header h1 {
  width: 70%;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.home-header h3 {
  margin-bottom: 3rem;
  margin-right: 0;
  width: 60%;
}
.home-header h3,
.home-header p {
  font-weight: 300;
  line-height: 2.5rem;
  font-size: 1rem;
}
.home-header p {
  font-size: 1rem;
}
#scroll-down {
  position: absolute;
  bottom: 50px;
  width: 10vw;
  max-width: 50px;
  height: 10vw;
  margin: 0 auto;
  max-height: 50px;
  z-index: 101;
}
.scroll-down {
  fill: #ffffff;
}
#play-video {
  width: 25px;
  height: 25px;
}
.play_icon {
  fill: #faffff;
}
.play-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
}

/* MAIN MENU */
#logo-header {
  width: 20%;
  max-height: 25px;
  min-width: 180px;
  max-width: 200px;
}
.logo-white {
  fill: #fff;
}
/* #mysphera-icon{
    visibility: hidden;
} */
#menu a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}
#menu a:last-of-type {
  margin-right: 0;
}

/* ABOUT */
#about {
  width: 100%;
  min-height: 800px;
  position: relative;
  overflow: visible;
  margin: 100px 0 0 0;
}
.flex-about {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  overflow: visible;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
}
.about-container h2 {
  font-weight: 500;
  width: 100%;
  margin-bottom: 5rem;
}

.about-container p {
  margin: 0 3rem;
  line-height: 1.4rem;
  text-align: left;
  font-size: 1rem;
  font-weight: 300;
  flex-basis: 40%;
  max-width: 600px;
  height: 20%;
  color: #555555;
}
#map {
  z-index: -150;
  position: absolute;
  top: 100px;
  opacity: 0.1;
  mix-blend-mode: multiply;
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/img/Maps.png");
}
/* IoT Platform */
@media (max-width: 1070px) {
  section.flex-iot {
    justify-content: center;
  }
  img.iot-img {
    margin-bottom: 5rem;
    width: 80%;
    max-width: 500px;
  }
  div.iot-container {
    width: 100%;
  }
}
#iot-platform {
  margin-top: 100px;
  min-height: 800px;
  width: 100%;
}
.flex-iot {
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;
}
.iot-container {
  width: 35%;
  margin: 0 6rem 0 4rem;
  text-align: left;
}
.iot-container p,
.iot-container h2 {
  text-align: left;
}
.iot-container > p {
  line-height: 1.4rem;
  text-align: left;
  font-size: 1rem;
  font-weight: 300;
  flex-basis: 40%;
  max-width: 600px;
  height: 20%;
  color: #555555;
}
.ms-button p {
  color: #969797;
  line-height: 1.5rem;
}
.iot-container h2 {
  font-size: 2.5rem;
  font-weight: 500;
  border-bottom: 0.1rem solid #6bb1c2;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.iot-img {
  width: 50%;
  height: auto;
}
.iot-img.animated {
  animation: float 2.5s ease-in-out 3s infinite alternate;
  -webkit-animation: float 2.5s ease-in-out 3s infinite alternate;
  -moz-animation: float 2.5s ease-in-out 3s infinite alternate;
}

@keyframes float {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(5px);
  }
}
/* MAIN FEATURES */
#main-features {
  position: relative;
  margin-top: 100px;
}

.flex-main-features {
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.main-features-container {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 600px;
}
.main-features-content {
  width: 35%;
  margin-left: 10%;
  text-align: left;
}
/* Main Features Spheres */

#spheres {
  width: 30px;
  display: inline-flex;
  margin: 0;
  opacity: 0;
  max-width: 0px;
  visibility: hidden;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
#spheres.is-active {
  margin: 0 1.5rem 0 0.5rem;
  opacity: 1;
  max-width: 27px;
  visibility: visible;
}
#spheres svg {
  width: 100%;
  height: 100%;
}
.first-sphere.animated {
  animation: bounce 1.2s ease-in-out 0.3s infinite alternate;
  -webkit-animation: bounce 1.2s ease-in-out 0.3s infinite alternate;
  -moz-animation: bounce 1.2s ease-in-out 0.3s infinite alternate;
}
.second-sphere.animated {
  animation: bounce 1.2s ease-in-out 0.6s infinite alternate;
  -webkit-animation: bounce 1.2s ease-in-out 0.6s infinite alternate;
  -moz-animation: bounce 1.2s ease-in-out 0.6s infinite alternate;
}
.third-sphere.animated {
  animation: bounce 1.2s ease-in-out 0.9s infinite alternate;
  -webkit-animation: bounce 1.2s ease-in-out 0.9s infinite alternate;
  -moz-animation: bounce 1.2s ease-in-out 0.9s infinite alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(3px);
  }
}
.feature-title {
  color: #c2c2c2bb;
  font-weight: 300;
  display: flex;
  transition: 1s color;
  cursor: pointer;
  margin: 1rem 0;
}

.feature-title.is-active {
  color: #6bb1c2;
  font-weight: 500;
}
.feature-description {
  opacity: 0;
  max-height: 0;
  color: #636363;
  font-weight: 300;
  overflow-y: hidden;
  transition: 0.4s opacity, 1s max-height cubic-bezier(0.165, 0.84, 0.44, 1);
}
.feature-description.is-active {
  opacity: 1;
  max-height: 480px;
}
.main-features-img-container {
  width: 45%;
  height: 100%;
  margin-right: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-features-tablet {
  width: 100%;
  height: 100%;
}
.main-features-big-screen {
  position: absolute;
  width: 81.9%;
  height: 87%;
}
.main-features-small-container {
  position: absolute;
  bottom: -15px;
  right: 25px;
  z-index: 149;
  width: 28%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-features-mobile {
  width: auto;
  height: 100%;
}
.main-features-small-screen {
  position: absolute;
  width: 86.8%;
  height: 75.7%;
  z-index: 150;
}

.main-features-img-container.animated {
  animation: float 2.5s ease-in-out 3s infinite alternate;
  -webkit-animation: float 2.5s ease-in-out 3s infinite alternate;
  -moz-animation: float 2.5s ease-in-out 3s infinite alternate;
}

/* SPECIFIC SOLUTIONS */
@media (max-width: 768px) {
  div#page-container {
    padding: 0;
    justify-content: flex-start;
  }
  div.page-item {
    width: 50vw;
    margin: 0;
    min-height: 50vw;
    padding: 0;
  }
  div.page-item .overlay.is-active {
    box-shadow: none;
  }
  div.page-item .overlay,
  div.page-item,
  div.page-item .background-item,
  div.page-item .overlay.is-active {
    border-radius: 0px;
  }
  div.page-item h3 {
    font-size: 2rem;
  }
  span.page-item-label {
    bottom: 4rem;
  }
}
#specific-solutions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
#page-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 0 15%; */
}
.page-item {
  position: relative;
  width: 200px;
  min-height: 300px;
  margin: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #6bb1c2;
}
.page-item .overlay {
  position: absolute;
  background: linear-gradient(white, white);
  /* mix-blend-mode: screen; */
  opacity: 0.9;
  border-radius: 20px;
  z-index: 50;
  width: 100%;
  height: 100%;
  transition: 0.6s all;
}
h3.is-active {
  color: white;
}
.page-item .overlay.is-active {
  position: absolute;
  background: linear-gradient(#0fc8dd, #075879);
  opacity: 0.7;
  border-radius: 20px;
  z-index: 50;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 15px 2px #04232e75;
}
.page-item .background-item {
  position: absolute;
  border-radius: 20px;
  opacity: 1;
  background-image: url("../assets/img/quirofano.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
#specific-solutions h3{
  font-size: 2.2rem;
  width: 100%;
  z-index: 100;
  text-align: center;
  font-weight: 500;
  transition: 0.6s color;
}
/* .page-item h3 {
  font-size: 2.4rem;
  width: 100%;
  z-index: 100;
  text-align: center;
  font-weight: 500;
  transition: 0.6s color;
} */
.page-item-label {
  font-size: 1rem;
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  color: white;
  z-index: 100;
  text-align: center;
  font-weight: 500;
  transition: 0.6s all ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.page-item-label.is-active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0.5rem);
}
/* SUCCESS STORIES */
#success-stories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}
.carousel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  height: auto;
}
.carousel-text {
  flex-basis: 50%;
  text-align: left;
}
.carousel-img {
  flex-basis: 45%;
  height: auto;
}
.carousel-img img {
  width: 100%;
  height: auto;
  max-height: 400px;
}

/* PARTNERSHIP */

#partnership {
  width: 100%;
  height: auto;
  margin-top: 100px;
}
.flex-partnership {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#logo-container {
  width: 100%;
  padding: 0 15%;
}
#logo-container .grid-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 50;
  min-height: 120px;
  opacity: 1;
  transition: 0.8s all cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background: white;
}
#logo-container .grid-content.inactive {
  opacity: 0.2;
}
#logo-container .grid-content img {
  max-width: 150px;
  max-height: 120px;
  transition: 0.2s all cubic-bezier(0.39, 0.575, 0.565, 1);
}
.img-augmented {
  transform: scale(1.05);
}
#logo-container .grey-overlay {
  position: absolute;
  background: #6bb1c2;
  mix-blend-mode: color;
  z-index: 51;
  width: 100%;
  height: 100%;
}
#logo-container .active {
  position: absolute;
  mix-blend-mode: normal;
  z-index: 51;
  width: 100%;
  cursor: pointer;
  height: 100%;
}
